<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="/images/zahr.logo.png"
			type="image/x-icon"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Lato&family=Poppins&display=swap"
			rel="stylesheet"
		/>
		<title>Create Post</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
		/>

		<!-- styles -->
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/post.css" />
	</head>
	<body>
		<main>
			<section>
				<div class="form">
					<form action="" class="contactFrm">
						<p>
							<span for="title">Post Title</span>
							<input type="text" name="title" id="title" />
						</p>
						<p>
							<span for="subject">Subject</span>
							<input type="text" name="subject" id="subject" />
						</p>
						<p>
							<span for="snippet">Post Snippet</span>
							<input type="text" name="snippet" id="snippet" />
						</p>
						<p>
							<span for="">Post Description</span>
							<textarea> </textarea>
						</p>
						<p>
							<span for="image">Post Image</span>
							<input type="file" name="image" id="image" />
						</p>
						<p>
							<input type="submit" value="Submit Post" />
						</p>
					</form>
				</div>
			</section>
		</main>
		<%- include('_partials/footer') %>
	</body>
</html>
