<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>SignIn - zahr</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/zahr.logo.png" type="image/x-icon" />

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Lato&family=Poppins&display=swap"
			rel="stylesheet"
		/>

		<!-- Font Awesome -->
		<script
			src="https://kit.fontawesome.com/7ac3e717ae.js"
			crossorigin="anonymous"
		></script>

		<!-- CSS -->
		<link rel="stylesheet" href="css/signIn.css" />
	</head>
	<body>
		<div id="login_form">
			<!-- <h2>Login</h2> -->

			<form id="form" action="/signin" method="POST">
				<div class="home-redirect-action">
					<a href="/">
						<img src="images/logo.png" alt="zahr logo" />
					</a>
				</div>

				<p class="form-group">
					<label for="username" class="username label">Email</label>
					<input
						type="text"
						id="email"
						name="email"
						placeholder="example@example.com"
						required
					/>
					<i class="validation">
						<span></span>
						<span></span>
					</i>
				</p>

				<p class="form-group">
					<label for="password" class="password label">Password</label>
					<input
						type="password"
						id="password"
						name="password"
						placeholder="Enter your password"
						required
					/>
					<i class="validation">
						<span></span>
						<span></span>
					</i>
				</p>

				<p class="form-group">
					<input type="submit" id="login" value="Login" />
				</p>
			</form>

			<div id="signup_request">
				<p class="signup-text"
					>Not a member? <a href="/signup">Create Account</a></p
				>
			</div>
		</div>
	</body>
</html>
