* {
	margin: 0;
	padding: 0;
	max-width: 100vw;
	max-height: 100vh;
}

.form {
	padding: 3rem 5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
	background: linear-gradient(
			rgba(221, 197, 197, 0.75),
			rgba(212, 193, 193, 0.75)
		),
		url("../images/img2.jpg");
	background-size: cover;
}

input {
	width: 100%;
	height: 3rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}
input[type="file"] {
	margin-bottom: 2px;
}
input[type="submit"] {
	width: 25%;
	margin-top: 1rem;
	color: white;
	font-weight: bold;
	background-color: rgb(182, 71, 71);
	border-radius: 6px;
	border-color: transparent;
	box-shadow: 2px 2px 15px grey;
}
input[type="submit"]:hover {
	background-color: rgba(167, 39, 39, 0.685);
	transition: all 0.2s ease;
}
textarea {
	width: 100%;
	height: 8rem;
	margin-bottom: 0.5rem;
}
