<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="footer-content">
        <!-- Footer Section 1 -->
        <div class="footer-section">
            <h2>zahr*</h2>
            <p>Premium fashion</p>
            <p>Designed by <em>checkmate</em></p>
        </div>

        <!-- Footer Section 2 -->
        <div class="footer-section">
            <h2>Links</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/our-story">Our Story</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/faqs">FAQs</a></li>
            </ul>
        </div>

        <!-- Footer Section 3 -->
        <div class="footer-section">
            <h2>Contact Us</h2>
            <p>Have questions or suggestions?</p>
            <p>Email: <a href="mailto:example@zahr.com">example@zahr.com</a></p>
            <p>Need assistance? Give us a call.</p>
            <p>+234(0) 812-345-6789</p>
        </div>

        <!-- Footer Section 4 -->
        <div class="footer-section">
            <h2>We're here for you</h2>
            <p>Monday - Thursday: 9:30 - 18:00</p>
            <p>Friday: 9:30 - 15:00</p>
            <div class="social-icons">
                <a href="https://facebook.com/" target="_blank" class="footer-social-link">
                    <img
                        src="https://cdn.prod.website-files.com/624fd4a40f05b81d5dc5644c/6251000e39aff146137af70c_facebook.svg"
                        loading="lazy"
                        width="18"
                        alt="Facebook"
                        class="footer-social-icon"
                    />
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer-social-link">
                    <img
                        src="https://cdn.prod.website-files.com/624fd4a40f05b81d5dc5644c/6251000e39aff1f6b17af70d_instagram-brands.svg"
                        loading="lazy"
                        alt="Instagram"
                        class="footer-social-icon"
                    />
                </a>
                <a href="https://in.pinterest.com/" target="_blank" class="footer-social-link">
                    <img
                        src="https://cdn.prod.website-files.com/624fd4a40f05b81d5dc5644c/6251000e39aff129d97af70e_pinterest.svg"
                        loading="lazy"
                        alt="Pinterest"
                        class="footer-social-icon"
                    />
                </a>
                <a href="https://twitter.com/" target="_blank" class="footer-social-link">
                    <img
                        src="https://cdn.prod.website-files.com/624fd4a40f05b81d5dc5644c/6251000e39aff1aa907af70f_twitter.svg"
                        loading="lazy"
                        alt="Twitter"
                        class="footer-social-icon"
                    />
                </a>
            </div>
        </div>
    </div>
</footer>
