<!-- views/partials/header.ejs -->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/images/zahr.logo.png" type="image/x-icon" />
	<link
		href="https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Lato&family=Poppins&display=swap"
		rel="stylesheet"
	/>
	<title> Personal Blog - Home </title>
	<!-- Font Awesome -->
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
	/>
	<!-- Styles -->
	<link rel="stylesheet" href="/css/style.css" />
</head>
